In [12]:
%matplotlib inline  
import numpy as np 
import pandas as pd 
import pylab as pl 
import datetime as dt 
import os 
from wmf import wmf 
from multiprocessing import Pool
import matplotlib
import MySQLdb
import json
from cpr import cpr
import pickle
import alarmas as al
import funciones_sora
#Ignorar avisos pendejos
import warnings
warnings.filterwarnings('ignore')

#### Pendientes

- Actualizar funciones a esquema CPR - especialmente consultas a BD.
- Sacar asignaciones de pluvio - nivel automáticamente.
- Funciones automáticas para corregir outliers de históricos

#### Funciones

In [13]:
def getInfoestIndatos(est_codes):
    codeest=est_codes[0]
    # coneccion a bd con usuario operacional
    host   = '192.168.1.74'
    user   = 'siata_Oper'
    passwd = 'si@t@64512_operacional'
    bd     = 'siata'
    #Consulta a tabla estaciones
    Estaciones="SELECT codigo,longitude,latitude,nombreestacion,fechainstalacion  FROM estaciones WHERE codigo=("+str(codeest)+")"
    dbconn = MySQLdb.connect(host, user,passwd,bd)
    db_cursor = dbconn.cursor()
    db_cursor.execute(Estaciones)
    result = np.array(db_cursor.fetchall())
    estaciones_datos_all=pd.DataFrame(result,columns=['codigo','longitud','latitud','nombreestacion','fechainstalacion'])


    for ind,est in enumerate(est_codes[1:]):
        try:
            # codigo de la estacion.
            codeest=est
            # coneccion a bd con usuario operacional
            host   = '192.168.1.74'
            user   = 'siata_Oper'
            passwd = 'si@t@64512_operacional'
            bd     = 'siata'
            #Consulta a tabla estaciones
            Estaciones="SELECT codigo,longitude,latitude,nombreestacion,fechainstalacion  FROM estaciones WHERE codigo=("+str(codeest)+")"
            dbconn = MySQLdb.connect(host, user,passwd,bd)
            db_cursor = dbconn.cursor()
            db_cursor.execute(Estaciones)
            result = np.array(db_cursor.fetchall())
            #holding
            estaciones_datos=pd.DataFrame(result,columns=['codigo','longitud','latitud','nombreestacion','fechainstalacion'])
            estaciones_datos_all=estaciones_datos_all.append(estaciones_datos)
        except:
            pass
    estaciones_datos_all.index=estaciones_datos_all['codigo']
    estaciones_datos_all.index.name=''
    estaciones_datos_all=estaciones_datos_all.drop('codigo',axis=1)
    return estaciones_datos_all

---------

In [14]:
rutaconfig='/media/nicolas/Home/Jupyter/Soraya/git/Alarmas/04_web_hidrologia/hidrologia/configfile_web.md'
listconfig=al.get_rutesList(rutaconfig)

dfconfig=pd.read_json(al.get_ruta(listconfig,'ruta_JSONinfosirenas'))
dfconfig

,EstMeteoAdentro,EstMeteoAfuera,EstN30m,EstNivel,EstNivel1,EstPluvioAdentro,EstPluvioAfuera,EstTto,Nombres Alarmas,Nombres Corriente Asociada,URL Cuencas
216,[197],[249],[108],"[90, 108]",[108],"[3, 18, 43]",,,SIRENA SANTA RITA SAN ANTONIO DE PRADO,Q. DONA MARIA,NaN
219,,[249],,"[173, 116]",[173],[29],"[1, 8]",,SIRENA BELEN - LAS VIOLETAS,Q. LA PICACHA,NaN
220,,[249],,"[173, 116]",[116],[29],"[1, 8, 9]",,SIRENA AGUAS FRIAS,Q. PICACHA,NaN
221,,[105],,[259],[259],,"[33, 253]",,SIRENA ANDALUCIA CALDAS,Q. LA CORRALA,NaN
222,,[82],,"[251, 186]",[186],,"[234, 30]",,SIRENA BARBOSA,Q. LA GALLINAZA,NaN
223,,,,"[265, 135]",[135],,"[12, 14, 48, 89]",,SIRENA BELLO CAFETAL,Q. LA LOCA,NaN
224,[105],,"[179, 106]","[179, 106, 124]",[106],"[267, 61, 261, 33, 253]",,[179],SIRENA LA ESTRELLA,RIO MEDELLIN - LA INMACULADA,NaN
226,,[105],,[246],[246],[261],[61],,SIRENA LA RAYA,Q. LA RAYA,NaN
279,,[70],,[239],[239],[248],[70],,SIRENA PIEDRAS BLANCAS,PIEDRAS BLANCAS,NaN
280,,,,"[283, 134]",[134],"[281, 121]","[89, 14, 48]",,SIRENA LA ISLA,LA MADERA Y MONTANITA,NaN
285,,,,[272],[272],,"[88, 31]",,SIRENA EL SALADO - JAMUNDI,EL SALADO,NaN
300,,,,,,,"[37, 74]",,SIRENA LA AVELINA,LA GARCIA,NaN
301,,,,[155],[155],,"[37, 74]",,EL HATO,EL HATO,NaN

Estaciones

In [15]:
#nivel
n_alarmas=np.unique(np.sort(np.hstack(dfconfig['EstNivel'])))

In [16]:
#pluvio
est_p2=np.sort(np.hstack(dfconfig['EstPluvioAdentro']))
est_p2=(map(int,est_p2[np.where(est_p2)[0]]))
est_p3=np.sort(np.hstack(dfconfig['EstPluvioAfuera']))
est_p2.append(map(int,est_p3[np.where(est_p3)[0]]))
#EST
p_alarmas=np.unique(np.hstack(est_p2))

Consulta fechas de instalación

In [7]:
EST=np.append(n_alarmas,p_alarmas)
EST.size
EST=EST[np.where(EST)]

------------

In [104]:
#Puente 33 y Aguacatala
EST=['101']

In [107]:
infoest['fechainstalacion']

101    2013-12-19
Name: fechainstalacion, dtype: object

------------

In [105]:
infoest=getInfoestIndatos(EST)

In [106]:
infoest[infoest.index==str(EST[0])]

      longitud  latitud                  nombreestacion fechainstalacion

101  -75.56911  6.20772  Parque lineal de la presidenta       2013-12-19

Consulta histórica- NIVEL

In [111]:
print dt.datetime.now()
for est in EST[0:1]:
    self= cpr.Nivel(est)
    self.host='192.168.1.100'
    start=str(infoest['fechainstalacion'][str(est)])#(dt.datetime.now()-pd.Timedelta('5m')).strftime('%Y-%m-%d-%H:%M')
    end=(dt.datetime.now() - pd.Timedelta('15 days')).strftime('%Y-%m-%d-%H:%M')
    level=self.get_level(start,end)
    level['nivel'].to_csv('../historicos/nivel/'+str(est)+'_H.csv')
print dt.datetime.now()

2018-06-28 11:35:07.499883
2018-06-28 11:47:00.827691

Se leen los resultados.

In [113]:
nivel=pd.read_csv('../historicos/nivel/'+str(est)+'_H.csv')

Consulta histórica - PLUVIO

In [11]:
p_alarmas

array([  1,   3,   8,   9,  12,  14,  18,  29,  30,  31,  33,  37,  43,
        48,  61,  70,  74,  88,  89, 121, 234, 248, 253, 261, 267, 281])

In [12]:
est=p_alarmas[4]

In [22]:
end = dt.datetime.now()
start = end - dt.timedelta(hours=5)
self = cpr.Pluvio(est)
self.host='192.168.1.100'
seriep = self.read_pluvio('2018-03-16-23:30','2018-03-17-05:00')

Warning: No data found for station << I.E Concejo de Medellin - 12 >>, output will be a DataFrame filled with NaN

In [21]:
p_alarmas[3:]

array([  9,  12,  14,  18,  29,  30,  31,  33,  37,  43,  48,  61,  70,
        74,  88,  89, 121, 234, 248, 253, 261, 267, 281])

In [24]:
#contador de tiempo
print dt.datetime.now()

for est in p_alarmas[4:]:
    try:
        start=str(infoest['fechainstalacion'][str(est)])
        end=dt.datetime.now().strftime('%Y-%m-%d-%H:%M')
        self.host='192.168.1.100'
        self = cpr.Pluvio(est)
        seriep = self.read_pluvio(start,end)
        seriep.to_csv('historicos/pluvio/'+str(est)+'_H.csv')
#     listpluvio2.append(seriep) 
    except:
        pass
# listpluvio2.append(seriep.index)

#contador de tiempo
print dt.datetime.now()

2018-03-29 10:15:43.165920
2018-03-29 12:40:48.186717

In [38]:
p_left=[33,  37,  43,  48,  61,  70, 74,  88,  89, 121, 234, 248, 253, 261, 267, 281]

In [28]:
est=9

In [39]:
print dt.datetime.now()
for est in p_left:
    start=str(infoest['fechainstalacion'][str(est)])
    end=dt.datetime.now().strftime('%Y-%m-%d-%H:%M')
    self.host='192.168.1.100'
    self = cpr.Pluvio(est)
    seriep = self.read_pluvio(start,end)
    seriep.to_csv('historicos/pluvio/'+str(est)+'_H.csv')
print dt.datetime.now()

2018-03-29 14:36:24.945308
2018-03-29 17:50:18.356946